openai>=1.6.1
python-dotenv
pandas
numpy
faiss-cpu
streamlit
langchain
langchain-community
langchain-openai
langchain-core
langchain-text-splitters
huggingface-hub
requests
tiktoken>=0.5.2
sentence-transformers
transformers
torch
scikit-learn
